# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# 数据文件（可选：如果想保留 CSV，可以不忽略）
# data/*.csv
data/*.html
data/*.png

# 抓取的网页源码（重点！！！）
*.html
*_files/
*.下载
*.avif
*.jpg
*.jpeg
*.png
*.gif
*.css
*.js

# OS
.DS_Store
Thumbs.db
